.site-footer {
    background-color: #ffffff;
    color: #36a0b2;
}

.color {
    border: 2px solid #36a0b2;
}

.margen {
    margin: auto;
}

.margen i {
    margin: 12px;
}

.link {
    color: #36a0b2;
}

.link:hover {
    color: #36a0b2;
}