h2.center {
    text-align: center;
}

button {
    font-size: 1.5rem;
    color: black;
    font-family: 'Oswald', sans-serif;
}

button:hover {
    text-decoration: none;
    color: black;
}

.card-body {
    font-size: 1rem;
    color: black;
    font-family: 'Oswald', sans-serif;
}