<h2 class="center">FAQ's</h2>

<div class="row">
    <div class="col-12">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                ¿Cuál es el costo de la renta? 
                          </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Los costos de renta son por hora. $120 consultorio psicológico, $120 sala de juntas, $200 consultorio médico.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                ¿Puedo rentar más tiempo? 
                          </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        ¡Puedes rentar las horas que necesites! No manejamos renta por día, semana, mes, etc.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ¿Hay Costo además de la renta? 
                          </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Manejamos un costo de inscripción de $300 anual.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                ¿Solo puedo rentar los consultorios psicológicos si soy psicólogo?
                            </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        No. Si tus necesidades se adaptan al espacio, ¡puedes rentarlo! Como ejemplo, coaching, Asesorías de cualquier tipo, pedagogía, etc.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFife">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFife" aria-expanded="false" aria-controls="collapseThree">
                            ¿Necesito algún perfil en específico para rentar las salas de juntas? 
                        </button>
                    </h5>
                </div>
                <div id="collapseFife" class="collapse" aria-labelledby="headingFife" data-parent="#accordion">
                    <div class="card-body">
                        No. Solamente coméntanos para que las requieres y ¡sin problema alguno!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                            ¿Existe un mínimo de horas para rentar? 
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        Ninguna. Tú eliges cuantas horas rentas. ¡Esa es la ventaja!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                            ¿Con cuanta anticipación debo reservar? 
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                        Si el consultorio o sala está disponible, ¡puedes rentarla hasta un minuto antes! Solo toma en cuenta los costos por cancelación o si no asisten tú y/o tu paciente.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                                ¿Qué sucede si no pago la hora que no pude cancelar? 
                            </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                    <div class="card-body">
                        No podrás agendar más citas mientras no tengas liquidado todos tus saldos pendientes.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingNine">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                            Ya que lo mencionas, ¿Las cancelaciones tienen algún costo?  
                        </button>
                    </h5>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                    <div class="card-body">
                        Tienes 24 horas antes de la cita para cancelarla sin costo. A partir de la hora 23 con 59 minutos y 59 segundos, no podrás cancelar la cita y deberás pagarla.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                            ¿Qué sucede si mi paciente no asiste? 
                        </button>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                    <div class="card-body">
                        Lamentablemente se debe pagar la sesión de todas formas.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEleven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
                            En caso de la sala de juntas, ¿Tienen computadora? 
                        </button>
                    </h5>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                    <div class="card-body">
                        No, tú deberás traer su propia computadora y material.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwelve">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
                            ¿Dónde se ubican los consultorios? 
                        </button>
                    </h5>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                    <div class="card-body">
                        Nos ubicamos en Ignacio Allende #45, Colonia Del Carmen, Coyoacán. C.P. 04100. Estamos dentro de “Patio Frida”
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThirteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThree">
                            ¿En qué horario puedo rentar?  
                        </button>
                    </h5>
                </div>
                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                    <div class="card-body">
                        Lunes a viernes de 9 a.m. a 9 p.m. y sábados de 9 a.m. a 4 p.m.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFifteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseThree">
                            ¿Ustedes llevan mi agenda? 
                        </button>
                    </h5>
                </div>
                <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                    <div class="card-body">
                        No. cada quien lleva su propia agenda
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSixteen">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseThree">
                            ¿Puedo reservar diferentes consultorios?
                        </button>
                    </h5>
                </div>
                <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
                    <div class="card-body">
                        Si tu especialidad así lo permite, ¡adelante! Solo avísanos desde el momento en que contrates, para que te habilitemos esa opción.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>