.pad {
    padding: 1.5rem;
    border: 1px solid lightgrey;
}

.pad2 {
    width: 50%;
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.bord {
    border: 1px solid lightgrey;
}

.info {
    text-align: start;
    padding: 10rem;
}

#global {
    height: 300px;
    width: 100%;
    border: 1px solid lightgray;
    background: #f1f1f1;
    overflow-y: scroll;
}

#global2 {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    background: #f1f1f1;
    overflow-y: scroll;
}

th {
    padding: 1rem;
}

#citas li {
    list-style: none;
}

div.scrollmenu {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}