.pad {
    padding: 2rem;
    border: 1px solid lightgrey;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

.vensio {
    padding: 1rem;
    border: 1px solid lightgrey;
    margin-bottom: 1rem
}

.aling {
    margin: auto auto;
}

.pad2 {
    padding: 2rem;
}

div.scrollmenu {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}