<div class="row mt-5 text-center">
    <div class="col-12 col-md-3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <img src="../../../assets/infografia/PASO1.1.png">
    </div>
    <div class="col-12 col-md-3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <img src="../../../assets/infografia/PASO2.2.png">
    </div>
    <div class="col-12 col-md-3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <img src="../../../assets/infografia/PASO3.3.png">
    </div>
    <div class="col-12 col-md-3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <img src="../../../assets/infografia/PASO4.4.png">
    </div>
</div>
<hr>
<div class="row mt-4 mb-3">
    <div class="col-12 text-center">
        <h2 class="font">Aliquam consectetur:</h2>
    </div>
</div>
<hr>
<div class="row mt-5 text-center">
    <div class="col-12 col-md-3">
        <img src="../../../assets/infografia/PASO1.png" alt="PASO1">
        <p class="text-center decor">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </p>
    </div>
    <div class="col-12 col-md-3">
        <img src="../../../assets/infografia/PASO2.png" alt="PASO2">
        <p class="text-center decor">
            It is a long established fact that a reader will be distracted.
        </p>
    </div>
    <div class="col-12 col-md-3">
        <img src="../../../assets/infografia/PASO3.png" alt="PASO3">
        <p class="text-center decor">
            It is a long established fact that a reader will be distracted.
        </p>
    </div>
    <div class="col-12 col-md-3">
        <img src="../../../assets/infografia/PASO4.png" alt="PASO4">
        <p class="text-center decor">
            It is a long established fact that a reader will be distracted.
        </p>
    </div>
</div>