<div class="row mt-5 text-center">
    <div class="col-12 col-md-3">
        <p>
            ¡Rentar un consultorio o sala de juntas nunca fue tan fácil!
        </p>
        <img src="../../../assets/infografia/PASO1.1.png">
    </div>
    <div class="col-12 col-md-3">
        <p>
            ¡Renta solo lo que necesitas, sin pagar rentas mensuales!
        </p>
        <img src="../../../assets/infografia/PASO2.2.png">
    </div>
    <div class="col-12 col-md-3">
        <p>
            ¡Empieza a generar ingresos de manera independiente!
        </p>
        <img src="../../../assets/infografia/PASO3.3.png">
    </div>
    <div class="col-12 col-md-3">
        <p>
            Conserva la privacidad de tu paciente ¡Nuestros consultorios están aislados del ruido externo!
        </p>
        <img src="../../../assets/infografia/PASO4.4.png">
    </div>
</div>
<hr>
<div class="row mt-4 mb-3">
    <div class="col-12 text-center">
        <h2 class="font">PASOS PARA CONTRATAR:</h2>
    </div>
</div>
<hr>
<div class="row mt-5 text-center">
    <div class="col-12 col-md-3">
        <img src="../../../assets/infografia/PASO1.png" alt="PASO1">
        <p class="text-center decor">
            Contáctanos y agenda una cita. Te diremos los requisitos dependiendo de tu especialidad y/o espacios que te interesan.
        </p>
    </div>
    <div class="col-12 col-md-3">
        <img src="../../../assets/infografia/PASO2.png" alt="PASO2">
        <p class="text-center decor">
            Ven a conocer nuestras instalaciones.
        </p>
    </div>
    <div class="col-12 col-md-3">
        <img src="../../../assets/infografia/PASO3.png" alt="PASO3">
        <p class="text-center decor">
            Conoce nuestras políticas, firma contrato y obtén tu usuario.
        </p>
    </div>
    <div class="col-12 col-md-3">
        <img src="../../../assets/infografia/PASO4.png" alt="PASO4">
        <p class="text-center decor">
            ¡Listo! Ya puedes empezar a rentar.
        </p>
    </div>
</div>